<script src="/javascripts/bootstrap-datetimepicker.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/bootstrap-datetimepicker.zh-CN.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<style type="text/css">
  h1 {
    margin-top: 0px;
  }
</style>
<strong>时间:</strong>
<input type="text" name="time" id="datetimepicker" size="10" class="" value="" autocomplete="off" >
<div id="ajax_content">
  <%= render :partial => 'region' %>
</div>
<script type="text/javascript">
$("#datetimepicker").datetimepicker({
    bootcssVer: 3,
    format: 'yyyy-mm',
    autoclose: true,
    todayBtn: false,
    startView: 'year',
    minView:'year',
    maxView:'decade',
    language:  'zh-CN'
});
$("#datetimepicker").on("change",function (argument) {
  var time_1 = $("#datetimepicker").val();
  $.ajax({
          type: "get",
          dataType: "html",
          url: '/region_html?time=' + time_1,
          async: false,
          success: function(data) {
            $("#ajax_content").html(data)
          }
       });
})
</script>